## Using loops

In [2]:
#1. Roll a die example using while loop

In [3]:
import random
min = 1
max = 6
roll_again = input("Roll the die again?")
while roll_again == "yes" or roll_again == "y":
    print ("Rolling the dices...")
    print(random.randint(min, max))
    
    roll_again = input("Roll the die again?")

Roll the die again?y
Rolling the dices...
1
Roll the die again?y
Rolling the dices...
6
Roll the die again?n

In [ ]:
#2. Multiplication table using for loop.

In [4]:
x=24
for i in range(11):
    prod=i*x
    print(x,"*",i,"=",prod)

24 * 0 = 0
24 * 1 = 24
24 * 2 = 48
24 * 3 = 72
24 * 4 = 96
24 * 5 = 120
24 * 6 = 144
24 * 7 = 168
24 * 8 = 192
24 * 9 = 216
24 * 10 = 240

In [ ]:
#3. Print first 10 natural numbers using while loop.

In [16]:
i=0
while i <=10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [6]:
#4. Print the following pattern

1
1  2
1  2  3
1  2  3  4
1  2  3  4  5

SyntaxError: invalid syntax (<ipython-input-6-6288f4215aa1>, line 4)

In [7]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [8]:
#5. Accept number from user and calculate the sum of all number from 1 to given number.

In [10]:
sum=0
x=int(input("Enter the number:  "))
for i in range(1,x+1,1):
    sum=sum+i
print("sum is:",sum)

Enter the number:   15
sum is: 120

In [ ]:
#6. Given a list, iterate it, and display numbers divisible by five, and if you find the number greater than 150 stop the loop.
list=[12,15,32,42,55,75,122,132,150,180,200]

In [11]:
list=[12,15,32,42,55,75,122,132,150,180,200]
for i in list:
    if(i>150):
        break
    if(i%5==0):
        print(i)

15
55
75
150

In [ ]:
#7. Given a number count the total number of digits in a number.

In [12]:
num=input("Enter the number:")
len(num)

Enter the number:5687

4

In [13]:
#8. Print the following pattern using for loop
5  4  3  2  1
4  3  2  1
3  2  1
2  1
1

SyntaxError: invalid syntax (<ipython-input-13-952e443e9bb3>, line 2)

In [14]:
for i in range(1,6):
    for j in range(6-i,0,-1):
        print(j,end=" ")
    print(" ")

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
#9. Display Fibonacci seies upto 10 numbers.

In [15]:
n=10
num1=0
num2=1
count=0
print("Fibonacci series upto 10 numbers:")
while count<n:
    print(num1,end=" ")
    temp=num1+num2
    num1=num2
    num2=temp
    count=count+1

Fibonacci series upto 10 numbers:
0 1 1 2 3 5 8 13 21 34