# ASSIGNMENT (Adult Dataset)

Name: Kuwar Preetikumari Lalbahadur

**In this task you should use Pandas to answer a few questions about the Adult Dataset(provided).

Unique values of all features:
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r'D:\DOWNLOADS\adult_csv.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country,class
0,2,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,1,0,2,United-States,<=50K
1,3,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,United-States,<=50K
2,2,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,2,United-States,<=50K
3,3,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,2,United-States,<=50K
4,1,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,2,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [3]:
data['sex'].value_counts()

Male      32650
Female    16192
Name: sex, dtype: int64

In [4]:
## There were total 32650 men and 16192 women represented in the dataset.

**2. What is the average age (*age* feature) of women?**

In [5]:
data.loc[data['sex']=='Female','age'].mean()

1.6038784584980237

In [6]:
## The average age for female was 1.60

**3. What is the percentage of German citizens (*native-country* feature)?**

In [7]:
(data['native-country']=='Germany').sum()*100/data.shape[0]

0.421768150362393

In [8]:
## There were only 0.42% people from Germany.

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [9]:
age1=data.loc[data['class'] == '>50K', 'age']
print('Mean for age grp who earn greater than 50K is', round(age1.mean(),2),'\n','Standard deviation for age grp who earn greater than 50K is',round(age1.std(),2),'\n')

age2=data.loc[data['class'] == '<=50K', 'age']
print('Mean for age grp who earn less than 50K is',round(age2.mean(),2),'\n','Standard deviation for age grp who earn less than 50K is',round(age2.std(),2))

Mean for age grp who earn greater than 50K is 2.35
 Standard deviation for age grp who earn greater than 50K is 1.01

Mean for age grp who earn less than 50K is 1.59
 Standard deviation for age grp who earn less than 50K is 1.32

**6. Is it true that people who earn more than 50K have at least high school education? (*education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [10]:
edu=['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
data.loc[data['class']=='>50K','education'].isin(edu).all()

False

In [11]:
## Its not that people who earn more than 50K have atleast high school degree.

In [12]:
data.loc[data['class']=='>50K', 'education'].value_counts()

Bachelors       3313
HS-grad         2503
Some-college    2063
Masters         1459
Prof-school      617
Assoc-voc        522
Doctorate        431
Assoc-acdm       413
11th              92
10th              87
7th-8th           62
12th              48
9th               41
5th-6th           27
1st-4th            8
Preschool          1
Name: education, dtype: int64

In [13]:
## Thetre are also people who completed their education till 'HS-grad', 'Some-college' level and still earn greater than 50K.

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [14]:
for (race, sex), sub_df in data.groupby(['race', 'sex']):  
    print("Race: {0}, sex: {1}".format(race, sex))         
    print(sub_df['age'].describe(),'\n')

Race: Amer-Indian-Eskimo, sex: Female
count    185.000000
mean       1.583784
std        1.274651
min        0.000000
25%        1.000000
50%        1.000000
75%        3.000000
max        4.000000
Name: age, dtype: float64

Race: Amer-Indian-Eskimo, sex: Male
count    285.000000
mean       1.603509
std        1.135528
min        0.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        4.000000
Name: age, dtype: float64

Race: Asian-Pac-Islander, sex: Female
count    517.000000
mean       1.481625
std        1.211281
min        0.000000
25%        0.000000
50%        1.000000
75%        2.000000
max        4.000000
Name: age, dtype: float64

Race: Asian-Pac-Islander, sex: Male
count    1002.000000
mean        1.782435
std         1.197137
min         0.000000
25%         1.000000
50%         2.000000
75%         3.000000
max         4.000000
Name: age, dtype: float64

Race: Black, sex: Female
count    2308.000000
mean        1.712738
std         1.240228
min         0.000000
25%         1.000000
50%         2.000000
75%         3.000000
max         4.000000
Name: age, dtype: float64

Race: Black, sex: Male
count    2377.000000
mean        1.711822
std         1.254554
min         0.000000
25%         1.000000
50%         2.000000
75%         3.000000
max         4.000000
Name: age, dtype: float64

Race: Other, sex: Female
count    155.000000
mean       1.090323
std        1.107048
min        0.000000
25%        0.000000
50%        1.000000
75%        2.000000
max        4.000000
Name: age, dtype: float64

Race: Other, sex: Male
count    251.000000
mean       1.454183
std        1.156241
min        0.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        4.000000
Name: age, dtype: float64

Race: White, sex: Female
count    13027.000000
mean         1.595839
std          1.352648
min          0.000000
25%          0.000000
50%          1.000000
75%          3.000000
max          4.000000
Name: age, dtype: float64

Race: White, sex: Male
count    28735.00000
mean         1.87423
std          1.27318
min          0.00000
25%          1.00000
50%          2.00000
75%          3.00000
max          4.00000
Name: age, dtype: float64

In [15]:
## The maximum age of men of Amer-Indian-Eskimo race is 4.

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [16]:
## Unique values of marital-status 

data['marital-status'].unique()

array(['Never-married', 'Married-civ-spouse', 'Divorced',
       'Married-spouse-absent', 'Separated', 'Married-AF-spouse',
       'Widowed'], dtype=object)

In [17]:
## Number of unmarried men earning more than 50K and less than 50K 

data.loc[(data['sex'] == 'Male') &
     (data['marital-status'].isin(['Never-married', 
                                   'Separated', 
                                   'Divorced',
                                   'Widowed'])), 'class'].value_counts()

<=50K    11414
>50K      1001
Name: class, dtype: int64

In [18]:
## Number of married men earning more than 50K and less than 50K 

data.loc[(data['sex'] == 'Male') &
     (data['marital-status'].isin(['Married-civ-spouse', 
                                   'Married-spouse-absent', 
                                   'Married-AF-spouse'])), 'class'].value_counts()

<=50K    11318
>50K      8917
Name: class, dtype: int64

In [19]:
## Number of Married men earning more than 50K is more than that of unmarried men.

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [20]:
print('Maximum number of hours a person works per week :' ,data['hoursperweek'].max(),'\n')
no_of_people = data.loc[data['hoursperweek'] == data['hoursperweek'].max()].count().max()
print(no_of_people,'people work',data['hoursperweek'].max(),'hours','\n')
maxhours_maxsalary=(data.loc[data['hoursperweek'] == data['hoursperweek'].max()]['class'] == '>50K').value_counts()
percentage=((maxhours_maxsalary[True])/no_of_people)*100
print('Percentage: ',round(percentage,2),'%')

Maximum number of hours a person works per week : 4

1676 people work 4 hours

Percentage:  35.74 %

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [21]:
for (country, salary), sub_df in data.groupby(['native-country', 'class']):
    print(country, salary, 'mean_time:' ,round(sub_df['hoursperweek'].mean(), 2))

Cambodia <=50K mean_time: 2.05
Cambodia >50K mean_time: 2.22
Canada <=50K mean_time: 1.74
Canada >50K mean_time: 2.4
China <=50K mean_time: 1.67
China >50K mean_time: 2.0
Columbia <=50K mean_time: 1.83
Columbia >50K mean_time: 3.0
Cuba <=50K mean_time: 1.88
Cuba >50K mean_time: 2.09
Dominican-Republic <=50K mean_time: 2.03
Dominican-Republic >50K mean_time: 2.2
Ecuador <=50K mean_time: 1.79
Ecuador >50K mean_time: 2.67
El-Salvador <=50K mean_time: 1.65
El-Salvador >50K mean_time: 2.09
England <=50K mean_time: 1.82
England >50K mean_time: 2.4
France <=50K mean_time: 1.95
France >50K mean_time: 2.31
Germany <=50K mean_time: 1.84
Germany >50K mean_time: 2.36
Greece <=50K mean_time: 2.03
Greece >50K mean_time: 2.94
Guatemala <=50K mean_time: 1.89
Guatemala >50K mean_time: 1.67
Haiti <=50K mean_time: 1.65
Haiti >50K mean_time: 1.89
Holand-Netherlands <=50K mean_time: 2.0
Honduras <=50K mean_time: 1.39
Honduras >50K mean_time: 2.5
Hong <=50K mean_time: 1.86
Hong >50K mean_time: 2.25
Hungary <=50K mean_time: 1.54
Hungary >50K mean_time: 2.5
India <=50K mean_time: 1.74
India >50K mean_time: 2.42
Iran <=50K mean_time: 1.95
Iran >50K mean_time: 2.5
Ireland <=50K mean_time: 2.0
Ireland >50K mean_time: 2.27
Italy <=50K mean_time: 1.8
Italy >50K mean_time: 2.35
Jamaica <=50K mean_time: 1.77
Jamaica >50K mean_time: 2.2
Japan <=50K mean_time: 1.9
Japan >50K mean_time: 2.44
Laos <=50K mean_time: 1.86
Laos >50K mean_time: 2.0
Mexico <=50K mean_time: 1.91
Mexico >50K mean_time: 2.32
Nicaragua <=50K mean_time: 1.72
Nicaragua >50K mean_time: 1.67
Outlying-US(Guam-USVI-etc) <=50K mean_time: 2.0
Outlying-US(Guam-USVI-etc) >50K mean_time: 2.0
Peru <=50K mean_time: 1.67
Peru >50K mean_time: 2.0
Philippines <=50K mean_time: 1.79
Philippines >50K mean_time: 2.21
Poland <=50K mean_time: 1.73
Poland >50K mean_time: 2.0
Portugal <=50K mean_time: 2.0
Portugal >50K mean_time: 2.5
Puerto-Rico <=50K mean_time: 1.85
Puerto-Rico >50K mean_time: 2.0
Scotland <=50K mean_time: 1.94
Scotland >50K mean_time: 2.33
South <=50K mean_time: 1.96
South >50K mean_time: 2.75
Taiwan <=50K mean_time: 1.62
Taiwan >50K mean_time: 2.31
Thailand <=50K mean_time: 2.08
Thailand >50K mean_time: 3.0
Trinadad&Tobago <=50K mean_time: 1.88
Trinadad&Tobago >50K mean_time: 2.0
United-States <=50K mean_time: 1.83
United-States >50K mean_time: 2.33
Vietnam <=50K mean_time: 1.77
Vietnam >50K mean_time: 2.0
Yugoslavia <=50K mean_time: 1.87
Yugoslavia >50K mean_time: 2.25

In [22]:
## Japan: <=50K  ==> mean_time: 1.9
## Japan: >50K   ==> mean_time: 2.44

In [23]:
## OR

In [24]:
## Using numpy mean

import numpy as np
pd.crosstab(data['native-country'] == 'Japan', data['class'], 
           values=data['hoursperweek'], aggfunc=np.mean)

class              <=50K      >50K
native-country
False           1.830489  2.332218
True            1.900000  2.437500

In [25]:
## The mean work time of people of Japan earning more than 50K is 2.4 and less than 50K is 1.9

## This also suggest that people of Japan have more mean work time than mean work time for people of other countries considered 
## together irrespective of salary.